{%extends "layout.html"%}

{%block header%}
<div id="logotext">Distribution of Enrollment</div>
{%endblock%}

{%block body%}

<style>
	/* Website template by freewebsitetemplates.com */
	html {
		font-family: Arial, Helvetica, sans-serif, Century Gothic;
	}
	body {
		background-color: #03354e;
		font-family: Century Gothic;
		font-size: 14px;
		margin: 0;
	}
	img {
		border: 0;
	}
	div#loading {
		color: red;
		display: none;
	}

	/*------------------------------ HEADER ------------------------------*/
	#header {
		width: 960px;
		margin: 0 auto;
		padding: 30px 0 0 0;
		position: relative;
	}

	#logotext {
		font-size: 34px;
		font-family: Century Gothic;
		color: #CFCFCF;
		padding: 0 0 24px 0px;
	}

	/** Logo **/
	#logo {
		display: block;
		padding: 0 0 20px 20px;
	}

	/** Navigation **/
	#navigation {
		
		height: 47px;
		padding: 0 0 20px 4px;
		left: 0;
	}
	#navigation ul {
		background-image: url('./bg-menu.gif');
		background-repeat:  repeat-x;
		display: inline-block;
		height: 40px;
		width: 910px;
		list-style: none;
		margin: 0;
	}
	#navigation li {
		float: left;
		font-size: 16px;
		line-height: 40px;
		margin: 0 5px;
		text-align: center;
	}
	#navigation li.first {
		margin-left: 0;
		
	}
	#navigation li.selected {
		background-color: #b7c2c8;
	}
	#navigation a {
		color: #092f44;
		font-weight: bold;
		padding: 0 10px;
		text-decoration: none;
		text-shadow: 1px 1px 0 #eaeaea;
	}
	#navigation a:hover {
		color: #0a2d43;
	}


	/*------------------------------ CONTENTS ------------------------------*/

	.boxarea {
		padding: 2px 8px 2px 8px;
		border: 1px solid #778;
		background: #CFF;
	}

	#contents {
		padding: 0 0 20px;
	}
	#contents div.body {
		color: #fdfffa;
		width: 960px;
		margin: 0 auto 20px;
	}

	/** MAIN **/
	#main {
		background-color: #03354e;
		width: 630px;
		margin: 60px 10px 0 300px;
		padding: 20px 0 20px 20px;
	}
	#main span, #main p {
		color: #aeb4b4;
		font-size: 14px;
		line-height: 20px;
		margin: 0;
		padding-right: 20px;
		text-align: justify;
	}
	#main span {
		color: #fdfffa;
		font-size: 16px;
	}
	#main p a {
		color: #aeb4b4;
		font-weight: bold;
		text-decoration: none;
	}
	#main span a {
		color: #fdfffa;
		font-weight: bold;
		text-decoration: none;
	}
	#main ul {
		display: inline-block;
		list-style: none;
		height: 355px;
		margin: 0;
		padding: 0;
	}
	#main ul li {
		float: left;
		width: 315px;
	}
	#main ul li a {
		color: #fdfffa;
		display: block;
		height: 114px;
		margin: 0 40px 0 0;
		text-decoration: none;
	}
	#main ul li img {
		float: left;
	}
	#main ul li h3 {
		margin: 0;
		line-height: 25px;
		padding-top: 35px;
	}
	#main ul li p {
		clear: both;
		padding: 6px 40px 20px 0;
	}

	/** SIDEBAR **/
	#sidebar {
		float: left;
		width: 270px;
		margin: 0;
		padding: 20px 20px 0 10px;
	}
	#sidebar h3 {
		font-size: 16px;
		font-weight: bold;
		margin: 0 0 20px;
	}
	#sidebar ul {
		list-style: none;
		height: 420px;
		margin: 0;
		padding: 0;
	}
	#sidebar ul li {
		font-size: 14px;
		line-height: 20px;
		padding-bottom: 10px;
	}
	#sidebar ul li span {
		color: #456d87;
		display: block;
		font-size: 12px;
		line-height: 20px;
		margin-bottom: 10px;
	}
	#sidebar ul li span a {
		background-image: url('./bg-comment.gif');
		background-repeat:  no-repeat 7px 3px;
		color: #fffffb;
		display: inline-block;
		height: 20px;
		width: 20px;
		padding-bottom: 1px;
		padding-left: 12px;
		text-decoration: none;
	}

	/*------------------------------ CONTENTS TEXT ------------------------------*/
	#contents .background {
		background-color: #ffffff;
		min-height: 300px;
		width: 1200px;
		border-radius: 3px;
		margin: 0 auto;
		padding: 30px;
	}
	#contents div.background h3 {
		color: #0e2934;
		margin: 0px 0 20px 0;
		text-transform: uppercase;
	}



	/*------------------------------ FOOTER ------------------------------*/
	#footer {
		color: #456f7f;
		line-height: 20px;
		width: 940px;
		margin: 0 auto;
		padding: 10px 10px;
	}

	#footer ul.contacts {
		float: left;
		font-size: 12px;
		list-style: none;
		width: 300px;
		margin: 0;
		padding: 0 0 10px;
	}
	#footer ul.contacts h3 {
		font-size: 14px;
		margin: 0 0 10px;
		text-transform: uppercase;
	}
	#footer ul.contacts li span {
		float: left;
		width: 50px;
	}
	#footer ul.contacts li p {
		margin: 0 0 0 50px;
	}

	#connect {
		float: left;
		list-style: none;
		width: 140px;
		margin: 0;
		padding: 0;
	}
	#connect h3 {
		font-size: 14px;
		margin: 0 0 10px;
		text-transform: uppercase;
	}
	#connect li {
		padding: 0 0 5px;
	}
	#connect li a {
		color: #456f7f;
		font-size: 15px;
		text-decoration: none;
	}

	#newsletter {
		float: left;
		width: 500px;
		padding: 0 0 20px;
	}
	#newsletter p {
		font-size: 12px;
		margin: 0;
	}
	#newsletter p b {
		display: block;
		font-weight: 800;
		margin: 0 0 10px;
		text-transform: uppercase;
	}
	#newsletter form {
		margin: 4px 0 16px;
	}
	#newsletter .txtfield {
		background-image: url('./input.gif');
		background-repeat: no-repeat;
		color: #9c9c9c;
		height: 25px;
		line-height: 25px;
		width: 200px;
		border: 0;
		margin: 0 6px 0 0;
		padding: 0 10px;
	}
	#newsletter .button {
		background-image: url('./button-check.gif');
		background-repeat: no-repeat;
		cursor: pointer;
		height: 25px;
		width: 25px;
		border: 0;
		padding: 0;
	}

	#footer span.footnote {
		clear: both;
		display: block;
		font-size: 12px;
		margin: 40px 0 0;
		text-align: center;
	}

	.fig {
		font-family:Arial;
		font-size:10pt;
		color:darkgray;
	}
	#loadingmsg {
		color: black;
		background: #fff;
		padding: 10px;
		position: fixed;
		top: 50%;
		left: 50%;
		z-index: 100;
		margin-right: -25%;
		margin-bottom: -25%;
	}
	#loadingover {
		background: black;
		z-index: 99;
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
		filter: alpha(opacity=80);
		-moz-opacity: 0.8;
		-khtml-opacity: 0.8;
		opacity: 0.8;
	}
</style>
<script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>


<script type="text/javascript">
	// show or hide loading annimation
	function show_loading(){
		document.getElementById("result").style.display = "none";
		document.getElementById("loading").style.display = "block";
	}
function showLoading() {
	document.getElementById("loadingmsg").style.display = "block";
	document.getElementById("loadingover").style.display = "block";
}
</script>

<script type="text/javascript">
// judge if there is input text
	function check_input(){
	  if (!document.getElementById("variable").value || document.getElementById("variable").value == "None")
	  {
	  	alert("Please select a variable for processing");
	  	return false;
	  }
	  else
	  {
		document.getElementById("hidden_options").value = document.getElementById("auto_options").innerHTML;
		return true;
	  }
</script>

<script type="text/javascript">
	function check_range(){
		if (!document.getElementById("lower").value || !document.getElementById("upper").value || isNaN(document.getElementById("lower").value) || isNaN(document.getElementById("upper").value))
		{
			alert("Please input a valid number for processing");
			return false;
		}
		else
		{
			document.getElementById("hidden_options").value = document.getElementById("auto_options").innerHTML;
			return true;
		}
	}
</script>



<script type="text/javascript">
 function TextChange1(){
 	change_option();
 }
 function TextChange2(){
	  if (!document.getElementById("variable").value)
	  {
		change_option();
	  }
 }
 function change_option(){
	if (document.getElementById("auto_options").innerText != '')
	{
	 	document.getElementById("all_var").checked = true;
 		document.getElementById("auto_options").innerHTML = "<span style=color:red>Detecting variable change. Click Process button to regenerate value range.</span>";
		document.getElementById("button_csv").style.display = 'none';
	} 	
 }
</script>

<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  
  ga('create', 'UA-57355594-1', 'auto');
  ga('send', 'pageview');
  
</script>

<!--
<FORM action="" method="post">
	<input type="text" value = '{{cur_var}}' id="variable" name="variable" style="display:none;">
	<INPUT type="submit" name="button3" width='200px' value=" Change the options ">&nbsp;&nbsp;
</FORM>
-->

<div id='loadingmsg' style='display: none;'>Analyzing, please wait...</div>
<div id='loadingover' style='display: none;'></div>

<table>
	<tr>
		<td>
			<FORM action="{{ url_for('vatec_main') }}" method="post" onsubmit='showLoading();'>
				<button type="submit" name="button2" style="height: 40px; width: 200px;" value=" Choose another variable " onclick="if (check_input()){show_loading();}else return false;"><font size = 2>Choose another condition</font></button>
				
			</FORM>
		</td>
		<td>
			
			<FORM action="{{ url_for('download') }}">
				<button type="submit" id="button_csv" name="button_csv" style="height: 40px; width: 200px;" value=" Download output in csv "><font size = 2> Export output in CSV </font> </button>
			</FORM>
		</td>
		
		<!--
		<td>
			<FORM>
				<BUTTON Type="button" VALUE=" Change the options " style="height: 40px; width: 150px;" onClick="history.go(-1);return true;"> <font size = 2>Change the options </font></BUTTON></FORM>
		</td>
		-->
		
		
		<td>
			<FORM action="{{ url_for('build_query') }}" method="post" onsubmit='showLoading();'>
				<BUTTON Type="submit" style="height: 40px; width: 150px;" VALUE=" Clear the options " onclick="if (check_input()){show_loading();}else return false;"> <font size = 2>Clear the options </font></BUTTON>
				<input type="text" value = '{{var}}' id="variable" name="variable" style="display:none;">
					<input type="text" value = '{{disease}}' id="disease" name="disease" style="display:none;">
						</FORM>
		</td>
		
		
	</tr>
</table>
 

<FORM action="" method="post">
		<input type="text" id="hidden_options" name="hidden_options" style="display:none;">
		<input type="text" value = '{{var}}' id="variable" name="variable" style="display:none;">
</FORM>

<!--<div id="loading">Processing ...</div>-->

<BR>

<div id="result">
	{% if value_range_output %}
		<script type="text/javascript">
		document.getElementById("loading").style.display = "none";
		</script>
		{{ value_range_output|safe }}
	{% endif %}
</div>

<BR>
<!--
<div id="result">
	{% if enrollment %}
		<script type="text/javascript">
		document.getElementById("loading").style.display = "none";
		</script>
		Total enrollment of clinical trials containing variable {{cur_var}} (value range: {{lower_value}} to {{upper_value}}) is  {{ enrollment|safe }}
	{% endif %}
</div>
-->


<div id="result">
	{% if num_of_trials_output %}
	<script type="text/javascript">
		document.getElementById("loading").style.display = "none";
		</script>
	{{num_of_trials_output|safe}}
	{% endif %}

	{% if phases or conditions or statuses or study_types or intervention_types or agency_types or gender%}
	Options:<BR><BR>
	{% endif %}

	{% if phases %}
	<script type="text/javascript">
	document.getElementById("loading").style.display = "none";
	</script>
	Phases: {{ phases|safe }}
	<BR>
	{% endif %}

	{% if conditions %}
	<script type="text/javascript">
	document.getElementById("loading").style.display = "none";
	</script>
	Conditions : {{ conditions|safe }}
	<BR>
	{% endif %}
	{% if statuses %}
	<script type="text/javascript">
	document.getElementById("loading").style.display = "none";
	</script>
	Statuses : {{ statuses|safe }}
	<BR>
	{% endif %}

	{% if study_types %}
	<script type="text/javascript">
	document.getElementById("loading").style.display = "none";
	</script>
	Study types : {{ study_types|safe }}
	<BR>
	{% endif %}
	{% if intervention_types %}
	<script type="text/javascript">
	document.getElementById("loading").style.display = "none";
	</script>
	Intervention types : {{ intervention_types|safe }}
	<BR>
	{% endif %}
	{% if agency_types %}
	<script type="text/javascript">
	document.getElementById("loading").style.display = "none";
	</script>
	Sponsor types : {{ agency_types|safe }}
	<BR>
	{% endif %}
	{% if gender %}
	<script type="text/javascript">
	document.getElementById("loading").style.display = "none";
	</script>
	Gender : {{ gender|safe }}
	<BR>
	{% endif %}
	{% if minimum_age != "" %}
	<script type="text/javascript">
		document.getElementById("loading").style.display = "none";
		</script>
	Minimum age : {{ minimum_age|safe }}
	<BR>
	{% endif %}
	{% if maximum_age != "" %}
	<script type="text/javascript">
		document.getElementById("loading").style.display = "none";
		</script>
	Maximum age : {{ maximum_age|safe }}
	<BR>
	{% endif %}
	{% if start_date %}
	<script type="text/javascript">
		document.getElementById("loading").style.display = "none";
		</script>
	Start date after : {{ start_date|safe }}
	<BR>
	{% endif %}
	{% if start_date_before %}
	<script type="text/javascript">
		document.getElementById("loading").style.display = "none";
		</script>
	Start date before : {{ start_date_before|safe }}
	<BR>
	{% endif %}
	{% if intervention_models %}
	<script type="text/javascript">
		document.getElementById("loading").style.display = "none";
		</script>
	Intervention models : {{ intervention_models|safe }}
	<BR>
	{% endif %}
	{% if allocations %}
	<script type="text/javascript">
		document.getElementById("loading").style.display = "none";
		</script>
	Allocations : {{ allocations|safe }}
	<BR>
	{% endif %}
	
</div>


<!--
value spectrum
{{ value_spectrum_output|safe }}

enrollment_spectrum
{{ enrollment_spectrum_output|safe }}

detail_enrollment_spectrum
{{ detail_enrollment_spectrum_output|safe }}
 
average_enrollment_spectrum
{{average_enrollment_spectrum_output|safe }}
-->



<BR>
<!--<div id="loading">Processing ...</div>-->
<div id="result">
	{% if enrollment_spectrum_output %}

		<script type="text/javascript">
			document.getElementById("loading").style.display = "none";
		</script>

				<BR>
		
		<!-- Google chart API -->
		<script type="text/javascript" src="https://www.google.com/jsapi"></script>
		<script type="text/javascript">
			google.load("visualization", "1", {packages:["corechart"]});
			google.setOnLoadCallback(drawChart);
			function drawChart() {
				/*
				 var data = google.visualization.arrayToDataTable([
				 ['Year', 'Sales', 'Expenses'],
				 ['2004',  1000,      400],
				 ['2005',  1170,      460],
				 ['2006',  660,       1120],
				 ['2007',  1030,      540]
				 ]);
				 */

				
				
				var data = new google.visualization.arrayToDataTable({{ enrollment_spectrum_output|safe }});
				
				//var data = new google.visualization.DataTable(%({{ distribution_value|safe }})s,0.5);
				
				var options = {
					title: 'Distribution of maximum enrollment for '  + document.getElementById("variable").value +' values',
					curveType: 'function',
					hAxis: {
						title: 'Values of ' + document.getElementById("variable").value,
						titleTextStyle: {
							color: '#333',
							fontSize: 15
						},
						gridlines: {
							color: '#797979',
							count: 4
						},
						format: '####.#'
					},
					vAxis: {
						title: 'Total enrollment value',
						minValue: 0,
						gridlines: {
							color: '#797979',
							count: 5
						}
					},
					explorer: {}
				};
				
				var data2 = new google.visualization.arrayToDataTable({{ average_enrollment_spectrum_output|safe }});
				
				//var data = new google.visualization.DataTable(%({{ distribution_value|safe }})s,0.5);
				
				var options2 = {
					title: 'Distribution of average enrollment for '  + document.getElementById("variable").value +' values',
					curveType: 'function',
					hAxis: {
						title: 'Values of ' + document.getElementById("variable").value,
						titleTextStyle: {
							color: '#333',
							fontSize: 15
						},
						gridlines: {
							color: '#797979',
							count: 4
						},
						format: '####.#'
					},
					vAxis: {
						title: 'Average enrollment value',
						minValue: 0,
						gridlines: {
							color: '#797979',
							count: 5
						}
					},
					explorer: {}
				};
				
				/*
				var data3 = new google.visualization.arrayToDataTable({{ detail_enrollment_spectrum_output|safe }});
				
				//var data = new google.visualization.DataTable(%({{ distribution_value|safe }})s,0.5);
			
				var options3 = {
					title: 'Aggregated actual and anticipated enrollment for '  + document.getElementById("variable").value +' values',
					curveType: 'function',
					hAxis: {
						title: 'Values of ' + document.getElementById("variable").value,
						titleTextStyle: {
							color: '#333',
							fontSize: 15
						},
						gridlines: {
							color: '#797979',
							count: 4
						},
						format: '####.#'
					},
					vAxis: {
						minValue: 0,
						gridlines: {
							color: '#797979',
							count: 5
						}
					},
					explorer: {}
				};
				
				*/
				
				var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
				chart.draw(data, options);
				
				var chart2 = new google.visualization.LineChart(document.getElementById('chart_div2'));
				chart2.draw(data2, options2);
				
				
				//var chart3 = new google.visualization.LineChart(document.getElementById('chart_div3'));
				//chart3.draw(data3, options3);
				
				
				
				
				var columns = [];
				var series = {};
				for (var i = 0; i < data.getNumberOfColumns(); i++) {
					columns.push(i);
					if (i > 0) {
						series[i - 1] = {};
					}
				};
				
				var options = {
					width: 1100,
					height: 500,
					series: series,
					title: 'Distribution of maximum enrollment for '  + document.getElementById("variable").value +' values',
					curveType: 'function',
					hAxis: {
						title: 'Values of ' + document.getElementById("variable").value,
						titleTextStyle: {
							color: '#333',
							fontSize: 15
						},
						gridlines: {
							color: '#797979',
							count: 4
						},
						format: '####.#'
					},
					vAxis: {
						minValue: 0,
						gridlines: {
							color: '#797979',
							count: 5
						}
					},
					explorer: {}
				};
				
				
				google.visualization.events.addListener(chart, 'select', function () {
														var sel = chart.getSelection();
														// if selection length is 0, we deselected an element
														if (sel.length > 0) {
														// if row is undefined, we clicked on the legend
														if (sel[0].row === null) {
														var col = sel[0].column;
														if (columns[col] == col) {
														// hide the data series
														columns[col] = {
														label: data.getColumnLabel(col),
														type: data.getColumnType(col),
														calc: function () {
														return null;
														}
														};
														// grey out the legend entry
														series[col - 1].color = '#CCCCCC';
														}
														else {
														// show the data series
														columns[col] = col;
														series[col - 1].color = null;
														}
														var view = new google.visualization.DataView(data);
														view.setColumns(columns);
														chart.draw(view, options);
														}
														}
														});
														
				var columns2 = [];
				var series2 = {};
				for (var i = 0; i < data2.getNumberOfColumns(); i++) {
					columns2.push(i);
					if (i > 0) {
						series2[i - 1] = {};
					}
				};
				
				var options2 = {
					width: 1100,
					height: 500,
					series: series2,
					title: 'Distribution of average enrollment for '  + document.getElementById("variable").value +' values',
					curveType: 'function',
					hAxis: {
						title: 'Values of ' + document.getElementById("variable").value,
						titleTextStyle: {
							color: '#333',
							fontSize: 15
						},
						gridlines: {
							color: '#797979',
							count: 4
						},
						format: '####.#'
					},
					vAxis: {
						minValue: 0,
						gridlines: {
							color: '#797979',
							count: 5
						}
					},
					explorer: {}
				};
				
				google.visualization.events.addListener(chart2, 'select', function () {
														var sel = chart2.getSelection();
														// if selection length is 0, we deselected an element
														if (sel.length > 0) {
														// if row is undefined, we clicked on the legend
														if (sel[0].row === null) {
														var col = sel[0].column;
														if (columns2[col] == col) {
														// hide the data series
														columns2[col] = {
														label: data2.getColumnLabel(col),
														type: data2.getColumnType(col),
														calc: function () {
														return null;
														}
														};
														// grey out the legend entry
														series2[col - 1].color = '#CCCCCC';
														}
														else {
														// show the data series
														columns2[col] = col;
														series2[col - 1].color = null;
														}
														var view = new google.visualization.DataView(data2);
														view.setColumns(columns2);
														chart2.draw(view, options2);
														}
														}
														});
				
				/*
				var columns3 = [];
				var series3 = {};
				for (var i = 0; i < data3.getNumberOfColumns(); i++) {
					columns3.push(i);
					if (i > 0) {
						series3[i - 1] = {};
					}
				};
				
				var options3 = {
					width: 1100,
					height: 500,
					series: series3,
					title: 'Detail enrollment for '  + document.getElementById("variable").value +' values',
					curveType: 'function',
					hAxis: {
						title: 'Values of ' + document.getElementById("variable").value,
						titleTextStyle: {
							color: '#333',
							fontSize: 15
						},
						gridlines: {
							color: '#797979',
							count: 4
						},
						format: '####.#'
					},
					vAxis: {
						minValue: 0,
						gridlines: {
							color: '#797979',
							count: 5
						}
					},
					explorer: {}
				};
				
				google.visualization.events.addListener(chart3, 'select', function () {
														var sel = chart3.getSelection();
														// if selection length is 0, we deselected an element
														if (sel.length > 0) {
														// if row is undefined, we clicked on the legend
														if (sel[0].row === null) {
														var col = sel[0].column;
														if (columns3[col] == col) {
														// hide the data series
														columns3[col] = {
														label: data3.getColumnLabel(col),
														type: data3.getColumnType(col),
														calc: function () {
														return null;
														}
														};
														// grey out the legend entry
														series3[col - 1].color = '#CCCCCC';
														}
														else {
														// show the data series
														columns3[col] = col;
														series3[col - 1].color = null;
														}
														var view = new google.visualization.DataView(data3);
														view.setColumns(columns3);
														chart3.draw(view, options3);
														}
														}
														});
				 */
				

			}
		</script>
		<div id="chart_div" style="top: 0px; width: 1100px; height: 500px;"></div>
		<div id="chart_div2" style="top: 0px; width: 1100px; height: 500px;"></div>
		<!--
		<div id="chart_div3" style="top: 0px; width: 1100px; height: 500px;"></div>
		-->

		<BR>
		
		<!-- visualization of results by D3 -->
		<!--
		<script type="text/javascript">
		
			de = {{ distribution_value|safe }};
			
			var mySVG = d3.select("body")
			.append("svg")
			.attr("width", 1280)
			.attr("height", 1000)
			.style('position','absolute')
			.style('top',840)
			.style('left',10)
			.attr('class','fig');
			
			var heightScale = d3.scale.linear()
			.domain([0, d3.max(de,function(d) { return d.cols;})])
			.range([0, 400]);
			
			mySVG.selectAll(".xLabel")
			.data(de)
			.enter().append("svg:text")
			.attr("x", function(d,i) {return 113 + (i * 22);})
			.attr("y", 435)
			.attr("text-anchor", "middle")
			.text(function(d,i) {return d.name;})
			.attr('transform',function(d,i) {return 'rotate(-90,' + (113 + (i * 22)) + ',435)';});
			
			mySVG.selectAll(".yLabel")
			.data(heightScale.ticks(10))
			.enter().append("svg:text")
			.attr('x',80)
			.attr('y',function(d) {return 400 - heightScale(d);})
			.attr("text-anchor", "end")
			.text(function(d) {return d;});
			
			mySVG.selectAll(".yTicks")
			.data(heightScale.ticks(10))
			.enter().append("svg:line")
			.attr('x1','90')
			.attr('y1',function(d) {return 400 - heightScale(d);})
			.attr('x2',1200)
			.attr('y2',function(d) {return 400 - heightScale(d);})
			.style('stroke','lightgray');
			
			var colorScale = d3.scale.category20c();
			
			var myBars = mySVG.selectAll('rect')
			.data(de)
			.enter()
			.append('svg:rect')
			.attr('width',15)
			.attr('height',function(d,i) {return heightScale(d.cols);})
			.attr('x',function(d,i) {return (i * 22) + 100;})
			.attr('y',function(d,i) {return 400 - heightScale(d.cols);})
			.style('fill',function(d, i) { return colorScale(i);});
			
			mySVG.selectAll(".bartext")
			.data(de)
			.enter()
			.append("text")
			.attr("class", "bartext")
			.attr("text-anchor", "middle")
			.attr("fill", "grey")
			.attr("x", function(d,i) {return (i * 22) + 100;})
			.attr("y", function(d,i) {return 400 - heightScale(d.cols);})
			.style("text-anchor", "middle")
			.text(function(d) {return d.cols;})
			.attr('transform',function(d,i) {return 'rotate(-90,' + ((i * 22 + 100)+17) + ',' + (400-heightScale(d.cols)+5) + ')';});
			
			</script>
		-->
		<BR>
		<BR>



	
</div>
	{% endif %}
<!--
<div id="result">
	<br>
	<br>

 {% if query_used %}
	<script type="text/javascript">
		document.getElementById("loading").style.display = "none";
	</script>
	 Query_used: {{ query_used|safe }}
	{% endif %}
	
</div>
-->

{%endblock%}
