<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<!--
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" charset="utf-8" />
	-->
		<title>VATEC</title>
</head>

<body>
	<!-- /#header -->
	<div id="header">
		{%block header%}{%endblock%}
	</div> 

	 <!-- /#contents -->
	 <div id="contents">
		<div class="background">
			{%block body%}{%endblock%}
		</div>
	</div>
	 
	 <div id="footer">
		 {% block footer %}
		 This system contains *** clinical trial summaries downloaded on ***. VATEC is optimized to work with recent versions of Google Chrome.
		 {% endblock %}
	 </div>

</body>
</html>