{%extends "layout.html"%}

{%block header%}
<div id="logotext">Distribution Analysis Query Builder</div>
{%endblock%}

{%block body%}

<style>
	/* Website template by freewebsitetemplates.com */
	html {
		font-family: Arial, Helvetica, sans-serif, Century Gothic;
	}
	body {
		background-color: #03354e;
		font-family: Century Gothic;
		font-size: 14px;
		margin: 0;
	}
	img {
		border: 0;
	}
	div#loading {
		color: red;
		display: none;
	}

	/*------------------------------ HEADER ------------------------------*/
	#header {
		width: 960px;
		margin: 0 auto;
		padding: 30px 0 0 0;
		position: relative;
	}

	#logotext {
		font-size: 34px;
		font-family: Century Gothic;
		color: #CFCFCF;
		padding: 0 0 24px 0px;
	}

	/** Logo **/
	#logo {
		display: block;
		padding: 0 0 20px 20px;
	}

	/** Navigation **/
	#navigation {
		
		height: 47px;
		padding: 0 0 20px 4px;
		left: 0;
	}
	#navigation ul {
		background-image: url('./bg-menu.gif');
		background-repeat:  repeat-x;
		display: inline-block;
		height: 40px;
		width: 910px;
		list-style: none;
		margin: 0;
	}
	#navigation li {
		float: left;
		font-size: 16px;
		line-height: 40px;
		margin: 0 5px;
		text-align: center;
	}
	#navigation li.first {
		margin-left: 0;
		
	}
	#navigation li.selected {
		background-color: #b7c2c8;
	}
	#navigation a {
		color: #092f44;
		font-weight: bold;
		padding: 0 10px;
		text-decoration: none;
		text-shadow: 1px 1px 0 #eaeaea;
	}
	#navigation a:hover {
		color: #0a2d43;
	}


	/*------------------------------ CONTENTS ------------------------------*/

	.boxarea {
		padding: 2px 8px 2px 8px;
		border: 1px solid #778;
		background: #CFF;
	}

	#contents {
		padding: 0 0 20px;
	}
	#contents div.body {
		color: #fdfffa;
		width: 960px;
		margin: 0 auto 20px;
	}

	/** MAIN **/
	#main {
		background-color: #03354e;
		width: 630px;
		margin: 60px 10px 0 300px;
		padding: 20px 0 20px 20px;
	}
	#main span, #main p {
		color: #aeb4b4;
		font-size: 14px;
		line-height: 20px;
		margin: 0;
		padding-right: 20px;
		text-align: justify;
	}
	#main span {
		color: #fdfffa;
		font-size: 16px;
	}
	#main p a {
		color: #aeb4b4;
		font-weight: bold;
		text-decoration: none;
	}
	#main span a {
		color: #fdfffa;
		font-weight: bold;
		text-decoration: none;
	}
	#main ul {
		display: inline-block;
		list-style: none;
		height: 355px;
		margin: 0;
		padding: 0;
	}
	#main ul li {
		float: left;
		width: 315px;
	}
	#main ul li a {
		color: #fdfffa;
		display: block;
		height: 114px;
		margin: 0 40px 0 0;
		text-decoration: none;
	}
	#main ul li img {
		float: left;
	}
	#main ul li h3 {
		margin: 0;
		line-height: 25px;
		padding-top: 35px;
	}
	#main ul li p {
		clear: both;
		padding: 6px 40px 20px 0;
	}

	/** SIDEBAR **/
	#sidebar {
		float: left;
		width: 270px;
		margin: 0;
		padding: 20px 20px 0 10px;
	}
	#sidebar h3 {
		font-size: 16px;
		font-weight: bold;
		margin: 0 0 20px;
	}
	#sidebar ul {
		list-style: none;
		height: 420px;
		margin: 0;
		padding: 0;
	}
	#sidebar ul li {
		font-size: 14px;
		line-height: 20px;
		padding-bottom: 10px;
	}
	#sidebar ul li span {
		color: #456d87;
		display: block;
		font-size: 12px;
		line-height: 20px;
		margin-bottom: 10px;
	}
	#sidebar ul li span a {
		background-image: url('./bg-comment.gif');
		background-repeat:  no-repeat 7px 3px;
		color: #fffffb;
		display: inline-block;
		height: 20px;
		width: 20px;
		padding-bottom: 1px;
		padding-left: 12px;
		text-decoration: none;
	}

	/*------------------------------ CONTENTS TEXT ------------------------------*/
	#contents .background {
		background-color: #ffffff;
		min-height: 300px;
		width: 1200px;
		border-radius: 3px;
		margin: 0 auto;
		padding: 30px;
	}
	#contents div.background h3 {
		color: #0e2934;
		margin: 0px 0 20px 0;
		text-transform: uppercase;
	}



	/*------------------------------ FOOTER ------------------------------*/
	#footer {
		color: #456f7f;
		line-height: 20px;
		width: 940px;
		margin: 0 auto;
		padding: 10px 10px;
	}

	#footer ul.contacts {
		float: left;
		font-size: 12px;
		list-style: none;
		width: 300px;
		margin: 0;
		padding: 0 0 10px;
	}
	#footer ul.contacts h3 {
		font-size: 14px;
		margin: 0 0 10px;
		text-transform: uppercase;
	}
	#footer ul.contacts li span {
		float: left;
		width: 50px;
	}
	#footer ul.contacts li p {
		margin: 0 0 0 50px;
	}

	#connect {
		float: left;
		list-style: none;
		width: 140px;
		margin: 0;
		padding: 0;
	}
	#connect h3 {
		font-size: 14px;
		margin: 0 0 10px;
		text-transform: uppercase;
	}
	#connect li {
		padding: 0 0 5px;
	}
	#connect li a {
		color: #456f7f;
		font-size: 15px;
		text-decoration: none;
	}

	#newsletter {
		float: left;
		width: 500px;
		padding: 0 0 20px;
	}
	#newsletter p {
		font-size: 12px;
		margin: 0;
	}
	#newsletter p b {
		display: block;
		font-weight: 800;
		margin: 0 0 10px;
		text-transform: uppercase;
	}
	#newsletter form {
		margin: 4px 0 16px;
	}
	#newsletter .txtfield {
		background-image: url('./input.gif');
		background-repeat: no-repeat;
		color: #9c9c9c;
		height: 25px;
		line-height: 25px;
		width: 200px;
		border: 0;
		margin: 0 6px 0 0;
		padding: 0 10px;
	}
	#newsletter .button {
		background-image: url('./button-check.gif');
		background-repeat: no-repeat;
		cursor: pointer;
		height: 25px;
		width: 25px;
		border: 0;
		padding: 0;
	}

	#footer span.footnote {
		clear: both;
		display: block;
		font-size: 12px;
		margin: 40px 0 0;
		text-align: center;
	}





	.fig {
		font-family:Arial;
		font-size:10pt;
		color:darkgray;
	}


	#loadingmsg {
		color: black;
		background: #fff;
		padding: 10px;
		position: fixed;
		top: 50%;
		left: 50%;
		z-index: 100;
		margin-right: -25%;
		margin-bottom: -25%;
	}
	#loadingover {
		background: black;
		z-index: 99;
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
		filter: alpha(opacity=80);
		-moz-opacity: 0.8;
		-khtml-opacity: 0.8;
		opacity: 0.8;
	}
	.CSSTableGenerator {
		margin:0px;padding:0px;
		width:22%;
		border:1px solid #0057af;
		
		-moz-border-radius-bottomleft:0px;
		-webkit-border-bottom-left-radius:0px;
		border-bottom-left-radius:0px;
		
		-moz-border-radius-bottomright:0px;
		-webkit-border-bottom-right-radius:0px;
		border-bottom-right-radius:0px;
		
		-moz-border-radius-topright:0px;
		-webkit-border-top-right-radius:0px;
		border-top-right-radius:0px;
		
		-moz-border-radius-topleft:0px;
		-webkit-border-top-left-radius:0px;
		border-top-left-radius:0px;
	}.CSSTableGenerator table{
		border-collapse: collapse;
		border-spacing: 0;
		width:100%;
		height:100%;
		margin:0px;padding:0px;
	}.CSSTableGenerator tr:last-child td:last-child {
		-moz-border-radius-bottomright:0px;
		-webkit-border-bottom-right-radius:0px;
		border-bottom-right-radius:0px;
	}
	.CSSTableGenerator table tr:first-child td:first-child {
		-moz-border-radius-topleft:0px;
		-webkit-border-top-left-radius:0px;
		border-top-left-radius:0px;
	}
	.CSSTableGenerator table tr:first-child td:last-child {
		-moz-border-radius-topright:0px;
		-webkit-border-top-right-radius:0px;
		border-top-right-radius:0px;
	}.CSSTableGenerator tr:last-child td:first-child{
		-moz-border-radius-bottomleft:0px;
		-webkit-border-bottom-left-radius:0px;
		border-bottom-left-radius:0px;
	}.CSSTableGenerator tr:hover td{
		background-color:#d3e9ff;
		
		
	}
	.CSSTableGenerator td{
		vertical-align:middle;
		
		background-color:#ffffff;
		
		border:1px solid #0057af;
		border-width:0px 1px 1px 0px;
		text-align:left;
		padding:7px;
		font-size:12px;
		font-family:Century Gothic;
		font-weight:normal;
		color:#000000;
	}.CSSTableGenerator tr:last-child td{
		border-width:0px 1px 0px 0px;
	}.CSSTableGenerator tr td:last-child{
		border-width:0px 0px 1px 0px;
	}.CSSTableGenerator tr:last-child td:last-child{
		border-width:0px 0px 0px 0px;
	}
	.CSSTableGenerator tr:first-child td{
		background:-o-linear-gradient(bottom, #2f82d6 5%, #2f82d6 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #2f82d6), color-stop(1, #2f82d6) );
		background:-moz-linear-gradient( center top, #2f82d6 5%, #2f82d6 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#2f82d6", endColorstr="#2f82d6");	background: -o-linear-gradient(top,#2f82d6,2f82d6);
		
		background-color:#2f82d6;
		border:0px solid #0057af;
		text-align:center;
		border-width:0px 0px 1px 1px;
		font-size:12px;
		font-family:Century Gothic;
		font-weight:bold;
		color:#ffffff;
	}
	.CSSTableGenerator tr:first-child:hover td{
		background:-o-linear-gradient(bottom, #2f82d6 5%, #2f82d6 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #2f82d6), color-stop(1, #2f82d6) );
		background:-moz-linear-gradient( center top, #2f82d6 5%, #2f82d6 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#2f82d6", endColorstr="#2f82d6");	background: -o-linear-gradient(top,#2f82d6,2f82d6);
		
		background-color:#2f82d6;
	}
	.CSSTableGenerator tr:first-child td:first-child{
		border-width:0px 0px 1px 0px;
	}
	.CSSTableGenerator tr:first-child td:last-child{
		border-width:0px 0px 1px 1px;
	}

</style>
<script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>


<script type="text/javascript">
// show or hide loading annimation
	function show_loading(){
		//document.getElementById("result").style.display = "none";
		//document.getElementById("loading").style.display = "block";
	}
	function showLoading() {
		document.getElementById("loadingmsg").style.display = "block";
		document.getElementById("loadingover").style.display = "block";
	}
</script>

<script type="text/javascript">
// judge if there is input text
	function check_input(){
	  if (!document.getElementById("variable").value || document.getElementById("variable").value == "None")
	  {
	  	alert("Please select a variable for processing");
	  	return false;
	  }
	  else
	  {
		document.getElementById("hidden_options").value = document.getElementById("auto_options").innerHTML;
		return true;
	  }
    }
</script>

<script type="text/javascript">
	function check_range(){
		if (!document.getElementById("lower").value || !document.getElementById("upper").value || isNaN(document.getElementById("lower").value) || isNaN(document.getElementById("upper").value))
		{
			alert("Please give a valid value range for processing.");
			return false;
		}
		else
		{
			document.getElementById("hidden_options").value = document.getElementById("auto_options").innerHTML;
			return true;
		}
	}
</script>



<script type="text/javascript">
 function TextChange1(){
 	change_option();
 }
 function TextChange2(){
	  if (!document.getElementById("variable").value)
	  {
		change_option();
	  }
 }
 function change_option(){
	if (document.getElementById("auto_options").innerText != '')
	{
	 	document.getElementById("all_var").checked = true;
 		document.getElementById("auto_options").innerHTML = "<span style=color:red>Detecting variable change. Click Process button to regenerate value range.</span>";
		document.getElementById("button_csv").style.display = 'none';
	} 	
 }
</script>

<script type="text/javascript">
	function fnchecked(blnchecked)
	{
		if(blnchecked)
		{
			document.getElementById("divcheck").style.display = "";
		}
		else
		{
			document.getElementById("divcheck").style.display = "none";
		}
	}
</script>

<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  
  ga('create', 'UA-57355594-1', 'auto');
  ga('send', 'pageview');
  
</script>

<table>
	<tr>
		<td>
			<FORM action="{{ url_for('vatec_main') }}" method="post" onsubmit='showLoading();'>
				<button type="submit" name="button2" style="height: 40px; width: 200px;" onclick="if (check_input()){show_loading();}else return false;"><font size = 2>Choose another condition</font></button>
			</FORM>
		</td>
		<td>

		</td>
	</td>
</table>

<BR>

<FORM action="" method="post">
	<input type="text" id="hidden_options" name="hidden_options" style="display:none;">
		<input type="text" value = '{{var}}' id="variable" name="variable" style="display:none;">
		<input type="text" value = '{{disease}}' id="disease" name="disease" style="display:none;">
		<input type="text" value = '{{topk}}' id="topk" name="topk" style="display:none;">
</FORM>

Current condition is {{disease}}

<div id="result">
	{% if initial_value_spectrum %}
	
	<div id='loadingmsg' style='display: none;'>Analyzing, please wait...</div>
	<div id='loadingover' style='display: none;'></div>
	
	
		<FORM action="{{ url_for('analysis') }}" method="post" onsubmit='showLoading();'>
			<table border = "1" align = 'top'>
				<tr>
					<td align = 'top'>
						<div id="result">
				{% if aggregator_output %}
				<script type="text/javascript">
					//document.getElementById("loading").style.display = "none";
					</script>
				{{ aggregator_output|safe }}
				{% endif %}
			</div>
			
			Please specify a value range(<font color="red"><strong><i>required</i></strong></font>): <br><br>
			Lower Bound: <input type="text" id="lower" name="lower" style="width:60px" value={% if lower_value %}{{lower_value}}{% endif %}>
				<!--{% if minimum_value %}
					<span style=color:grey>Normal minimum value: {{minimum_value}}</span><br>
				{% endif %}-->
			Upper Bound: <input type="text" id="upper" name="upper" style="width:60px" value={% if upper_value %}{{upper_value}}{% endif %}>
				<!--{% if maximum_value %}
					<span style=color:grey>Normal maximum value: {{maximum_value}}</span><br>
				{% endif %}-->
				         <input type="hidden" name="variable" value="{{ curr_condition }}">
				         <input type="hidden" name="featureName" value="{{ name }}">
						 <input type="hidden" name="disease" value="{{ disease }}">
							 
						 <input type="hidden" name="on_option_page" value="on_option_page">
					</td>
					<td align = 'top'>
						
						<!--<div id="loading">Processing ...</div>-->
						
						<div id="result">
							{% if initial_value_spectrum %}
							
							<script type="text/javascript">
								//document.getElementById("loading").style.display = "none";
							</script>
							<BR>
							
							<!-- Google chart API -->
                            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                            <script type="text/javascript">
                                google.charts.load('current', {packages: ['corechart']});
								google.charts.setOnLoadCallback(drawChart);
								function drawChart() {
								    //window.alert(document.getElementById("variable").value)
									var data = new google.visualization.arrayToDataTable({{ initial_value_spectrum|safe }});
									//var featureInfo = document.getElementById("featureInfo").value.split(' ');
									var featureName = '{{name}}'
									//var featureName = featureInfo[2]
									//window.alert(featureName)
									var options = {
										title: 'Duration distribution of disease (' + document.getElementById("disease").value+ ') and feature (' + featureName + ')',
										curveType: 'function',
										hAxis: {
											title: 'Values of ' + featureName + '(Month)',
											titleTextStyle: {
												color: '#333',
												fontSize: 15
											},
											//gridlines: {
											//	color: '#797979',
											//	count: 10
											//},
											//format: '####.#'
										},
										vAxis: {
										    title: 'Frequency',
											//minValue: 0,
											gridlines: {
												color: '#797979',
												count: 5
											}
										},
										explorer: {}
									};
									var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
									chart.draw(data, options);
								}
							</script>
							<div id="chart_div" style="top: 0px; width: 400px; height: 250px;"></div>

							<BR>
							{% endif %}
						</div>
					</td>
				</tr>
			</table>
			
			<br>


			<table border = 1>
				<caption><i><b>Figure options<b></i><caption>
					<tr>
						<td>Varying width:<INPUT type="checkbox" name="width_option" value="width_option" {% if width_option %}checked="yes"{% endif %}></td>
						<td>Plot Type:
							<SELECT id="plot_type" name="plot_type">
								<optgroup label="Please choose a plot type">
								<option disabled = 'disabled' value = 'spectrum_for_ranges' {% if plot_type == 'spectrum_for_ranges': %}selected{% endif %}> Value Ranges </option>
								<option value = 'spectrum_for_value_points' {% if plot_type == 'spectrum_for_value_points': %}selected{% endif %}> Value Points </option>
							</SELECT>
						</td>
						<td>Fixed value range width (default: 0.5):
							<input type="text" id="fixed_width" name="fixed_width" style="width:60px" {% if fixed_width: %} value = "{{fixed_width}}" {% endif %} > <span style=color:grey>(e.g. 0.1, 0.5, 1.0)</span>
						</td>
					</tr>
			</table>
			
			<br><br>
						
			<table border = 1>
				<caption><i><b>Basic options ('All Studies' by default)<b></i><caption>
				
				<tr>
					<td>
						<span style=color:grey>Conditions:</span>
						<input type="text" id="conditions" name="conditions" style="width:200px" {% if disease: %} value = "{{disease}}" {% endif %} style="display:none;">
							<span style=color:grey>(e.g. 'heart disease', 'diabetes'. Multiple conditions separated by ',')</span>
					</td>
				</tr>
				
				<tr>
					<td>
						<span style=color:grey>Gender:</span>
						<SELECT id="gender" name="gender">
				 			<optgroup label="Please choose a gender">
					 		<option value = 'all' selected="selected"></option>
					 		<option value = 'both'> both </option>
					 		<option value = 'male'> male </option>
					 		<option value = 'female'> female </option>
					 	</SELECT>  (Both: {{distribution_gender["both"]}}%, Male: {{distribution_gender["male"]}}%, Female: {{distribution_gender["female"]}}%)
			 			&nbsp;&nbsp;|&nbsp;&nbsp;
						<span style=color:grey>Age:</span>
						Minimum age: <input type="text" id="minimum_age" name="minimum_age" style="width:30px" {% if minimum_age: %} value = "{{minimum_age}}" {% endif %} >
							Maximum age: <input type="text" id="maximum_age" name="maximum_age" style="width:30px" {% if maximum_age: %} value = "{{maximum_age}}" {% endif %} >
					</td>
				</tr>
				<tr>
					<td>
						<span style=color:grey>Start date after:</span> Month:
			 			<SELECT id="start_month" name="start_month">
						  <option value = '' {% if month == 'N/A': %}selected{% endif %}></option>
						  <option value = 'January' {% if month == 'January': %}selected{% endif %}> January </option>
						  <option value = 'February' {% if month == 'February': %}selected{% endif %}> February </option>
						  <option value = 'March' {% if month == 'March': %}selected{% endif %}> March </option>
						  <option value = 'April' {% if month == 'April': %}selected{% endif %}> April </option>
						  <option value = 'May' {% if month == 'May': %}selected{% endif %}> May </option>
						  <option value = 'June' {% if month == 'June': %}selected{% endif %}> June </option>
						  <option value = 'July' {% if month == 'July': %}selected{% endif %}> July </option>
						  <option value = 'August' {% if month == 'August': %}selected{% endif %}> August </option>
						  <option value = 'September' {% if month == 'September': %}selected{% endif %}> September </option>
						  <option value = 'October' {% if month == 'October': %}selected{% endif %}> October </option>
						  <option value = 'November' {% if month == 'November': %}selected{% endif %}> November </option>
						  <option value = 'December' {% if month == 'December': %}selected{% endif %}> December </option>
						</SELECT>
						Year: <input type="text" id="start_year" name="start_year" style="width:50px" {% if start_year: %} value = "{{start_year}}" {% endif %} > <span style=color:grey>(e.g., 2005)</span> <br>
					
						<span style=color:grey>Start date before:</span> Month:
			 			<SELECT id="start_month_before" name="start_month_before">
							<option value = ''></option>
							<option value = 'January'> January </option>
							<option value = 'February'> February </option>
							<option value = 'March'> March </option>
							<option value = 'April'> April </option>
							<option value = 'May'> May </option>
							<option value = 'June'> June </option>
							<option value = 'July'> July </option>
							<option value = 'August'> August </option>
							<option value = 'September'> September </option>
							<option value = 'October'> October </option>
							<option value = 'November'> November </option>
							<option value = 'December'> December </option>
						</SELECT>
						Year: <input type="text" id="start_year_before" name="start_year_before" style="width:50px"> <span style=color:grey>(e.g., 2005)</span>
					</td>
				</tr>
							 
			</table>
				
			<br>
			 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			 
			<i><b>Advanced Options ('All Studies' by default)</b></i>
			
			<div>
			<table style="float: left" class="CSSTableGenerator">
				
				<tr><td>Study Types:</td><tr>
				<tr><td><input type="checkbox" name ="study_types" value="Interventional" onclick="fnchecked(this.checked);" {% if "Interventional" in study_types: %} checked = "checked" {% endif %}>Interventional ({{distribution_study_type["Interventional"]}}%)</td><tr>
				<tr><td><input type="checkbox" name ="study_types" value="Observational" {% if (study_types.count("Observational") == 2) or (("Observational" in study_types) and (study_types.count("Observational") == 1) and ("Observational [Patient Registry]" not in study_types)): %} checked = "checked" {% endif %}>Observational ({{distribution_study_type["Observational"]}}%)</td><tr>
				<tr><td><input type="checkbox" name ="study_types" value="Observational [Patient Registry]" {% if "Observational [Patient Registry]" in study_types: %} checked = "checked" {% endif %} >Observational [Patient Registry] ({{distribution_study_type["Observational [Patient Registry]"]}}%) </td><tr>
				<tr><td><input type="checkbox" name ="study_types" value="Expanded Access" {% if "Expanded Access" in study_types: %} checked = "checked" {% endif %}>Expanded Access ({{distribution_study_type["Expanded Access"]}}%)</td><tr>
			</table>


			<div>
				<!--<div id="divcheck" style="display:none" >-->
				<table style="float: left" class="CSSTableGenerator">
					<tr><td>Intervention types:</td><tr>
					<tr><td><input type="checkbox" name ="intervention_types" value="Drug" {% if "Drug" in intervention_types: %} checked = "checked" {% endif %}>Drug ({{distribution_intervention_type["Drug"]}}%) </td><tr>
					<tr><td><input type="checkbox" name ="intervention_types" value="Procedure" {% if "Procedure" in intervention_types: %} checked = "checked" {% endif %}>Procedure ({{distribution_intervention_type["Procedure"]}}%)</td><tr>
					<tr><td><input type="checkbox" name ="intervention_types" value="Biological" {% if "Biological" in intervention_types: %} checked = "checked" {% endif %} >Biological ({{distribution_intervention_type["Biological"]}}%)</td><tr>
					<tr><td><input type="checkbox" name ="intervention_types" value="Device" {% if "Device" in intervention_types: %} checked = "checked" {% endif %}>Device ({{distribution_intervention_type["Device"]}}%)</td><tr>
					<tr><td><input type="checkbox" name ="intervention_types" value="Behavioral" {% if "Behavioral" in intervention_types: %} checked = "checked" {% endif %}>Behavioral ({{distribution_intervention_type["Behavioral"]}}%)</td><tr>
					<tr><td><input type="checkbox" name ="intervention_types" value="Dietary Supplement" {% if "Dietary Supplement" in intervention_types: %} checked = "checked" {% endif %}>Dietary Supplement ({{distribution_intervention_type["Dietary Supplement"]}}%)</td><tr>
					<tr><td><input type="checkbox" name ="intervention_types" value="Genetic" {% if "Genetic" in intervention_types: %} checked = "checked" {% endif %}>Genetic ({{distribution_intervention_type["Genetic"]}}%)</td><tr>
					<tr><td><input type="checkbox" name ="intervention_types" value="Radiation" {% if "Radiation" in intervention_types: %} checked = "checked" {% endif %}>Radiation ({{distribution_intervention_type["Radiation"]}}%)</td><tr>
					<tr><td><input type="checkbox" name ="intervention_types" value="Other" {% if "Other" in intervention_types: %} checked = "checked" {% endif %}>Other ({{distribution_intervention_type["Other"]}}%)</td><tr>
				</table>
			</div>
									
			<table style="float: left" class="CSSTableGenerator">
				<tr><td>Status:</td><tr>
				<tr><td><span style=color:grey><font size=2><input type="checkbox" name ="status" value="Open Studies" {% if ("Open Studies" in statuses): %} checked = "checked" {% endif %}>Open Studies</font></span> </td><tr>
				<tr><td><input type="checkbox" name ="status" value="Recruiting" {% if ("Recruiting" in statuses): %} checked = "checked" {% endif %}>Recruiting ({{distribution_status["Recruiting"]}}%) </td><tr>
				<tr><td><input type="checkbox" name ="status" value="Not yet recruiting" {% if "Not yet recruiting" in statuses: %} checked = "checked" {% endif %}>Not yet recruiting ({{distribution_status["Not yet recruiting"]}}%)</td><tr>
				<tr><td><span style=color:grey><font size=2><input type="checkbox" name ="status" value="Closed Studies" {% if ("Closed Studies" in statuses): %} checked = "checked" {% endif %}>Closed Studies</font></span></td><tr>
				<tr><td><input type="checkbox" name ="status" value="Active, not recruiting" {% if "Active, not recruiting" in statuses: %} checked = "checked" {% endif %} >Active, not recruiting ({{distribution_status["Active, not recruiting"]}}%)</td><tr>
				<tr><td><input type="checkbox" name ="status" value="Completed" {% if "Completed" in statuses: %} checked = "checked" {% endif %}>Completed ({{distribution_status["Completed"]}}%)</td><tr>
				<tr><td><input type="checkbox" name ="status" value="Withdrawn" {% if "Withdrawn" in statuses: %} checked = "checked" {% endif %}>Withdrawn ({{distribution_status["Withdrawn"]}}%)</td><tr>
				<tr><td><input type="checkbox" name ="status" value="Suspended" {% if "Suspended" in statuses: %} checked = "checked" {% endif %} >Suspended ({{distribution_status["Suspended"]}}%)</td><tr>
				<tr><td><input type="checkbox" name ="status" value="Terminated" {% if "Terminated" in statuses: %} checked = "checked" {% endif %} >Terminated ({{distribution_status["Terminated"]}}%)</td><tr>
				<tr><td><input type="checkbox" name ="status" value="Enrolling by invitation" {% if "Enrolling by invitation" in statuses: %} checked = "checked" {% endif %} >Enrolling by invitation ({{distribution_status["Enrolling by invitation"]}}%)</td><tr>
			</table>
			</div>

			<table class="CSSTableGenerator">
				<tr><td>Sponsor Types:</td><tr>
				<tr><td><input type="checkbox" name ="agency_types" value="NIH" {% if "NIH" in agency_types: %} checked = "checked" {% endif %} >NIH ({{distribution_sponsor_type["['NIH']"]}}%) </td><tr>
				<tr><td><input type="checkbox" name ="agency_types" value="Industry" {% if "Industry" in agency_types: %} checked = "checked" {% endif %}>Industry ({{distribution_sponsor_type["['Industry']"]}}%) </td><tr>
				<tr><td><input type="checkbox" name ="agency_types" value="U.S. Fed" {% if "U.S. Fed" in agency_types: %} checked = "checked" {% endif %}>Other U.S. Federal Agency ({{distribution_sponsor_type["['U.S. Fed']"]}}%) </td><tr>
				<tr><td><input type="checkbox" name ="agency_types" value="Other" {% if "Other" in agency_types: %} checked = "checked" {% endif %}>Other ({{distribution_sponsor_type["['Other']"]}}%) </td><tr>

			</table>

			<table class="CSSTableGenerator">
				<tr><td>Phases:</td><tr>
				<tr><td><i>Check multiple phases to stratify the distributions of studies or enrollment by phases</i> </td><tr>
				<tr><td><input type="checkbox" name ="phase" value="Phase 0" {% if "Phase 0" in phases: %} checked = "checked" {% endif %}>Phase 0 ({{distribution_phase["Phase 0"]}}%)</td><tr>
				<tr><td><input type="checkbox" name ="phase" value="Phase 1" {% if "Phase 1" in phases: %} checked = "checked" {% endif %}>Phase 1 ({{distribution_phase["Phase 1"]}}%)</td><tr>
				<tr><td><input type="checkbox" name ="phase" value="Phase 2" {% if "Phase 2" in phases: %} checked = "checked" {% endif %}>Phase 2 ({{distribution_phase["Phase 2"]}}%)</td><tr>
				<tr><td><input type="checkbox" name ="phase" value="Phase 3" {% if "Phase 3" in phases: %} checked = "checked" {% endif %}>Phase 3 ({{distribution_phase["Phase 3"]}}%)</td><tr>
				<tr><td><input type="checkbox" name ="phase" value="Phase 4" {% if "Phase 4" in phases: %} checked = "checked" {% endif %}>Phase 4 ({{distribution_phase["Phase 4"]}}%)</td><tr>
				<tr><td><input type="checkbox" name ="phase" value="N/A" {% if "N/A" in phases: %} checked = "checked" {% endif %}>Not applicable or not specified ({{distribution_phase["N/A"]}}%)</td><tr>
			</table>
			
			<table class="CSSTableGenerator" style="float: left">
				<tr><td>Study design - intervention model:</td><tr>
				<tr><td><input type="checkbox" name ="intervention_model" value="Parallel Assignment" >Parallel ({{distribution_intervention_model["Parallel Assignment"]}}%)</td><tr>
				<tr><td><input type="checkbox" name ="intervention_model" value="Factorial Assignment" >Factorial ({{distribution_intervention_model["Factorial Assignment"]}}%)</td><tr>
				<tr><td><input type="checkbox" name ="intervention_model" value="Crossover Assignment">Crossover
					({{distribution_intervention_model["Crossover Assignment"]}}%)</td><tr>
				<tr><td><input type="checkbox" name ="intervention_model" value="Single Group Assignment" >Single Group
					({{distribution_intervention_model["Single Group Assignment"]}}%)</td><tr>
				<tr><td><input type="checkbox" name ="intervention_model" value="N/A" >Not applicable or not specified ({{distribution_intervention_model["N/A"]}}%)</td><tr>
			</table>
			
			<table class="CSSTableGenerator" style="float: left">
				<tr><td>Study design - allocation:</td><tr>
				<tr><td><input type="checkbox" name ="allocation" value="Randomized"> Randomized ({{distribution_allocation["Randomized"]}}%)</td><tr>
				<tr><td><input type="checkbox" name ="allocation" value="Non-Randomized"> Non-Randomized ({{distribution_allocation["Non-Randomized"]}}%)</td><tr>
				<tr><td><input type="checkbox" name ="allocation" value="N/A" >Not applicable or not specified ({{distribution_allocation["N/A"]}}%) </td><tr>
			</table>
			
			<table class="CSSTableGenerator" style="float: left">
				<tr><td>Study design - time perspective:</td><tr>
				<tr><td><input type="checkbox" name ="time_perspective" value="Cross-Sectional"> Cross-Sectional ({{distribution_time_perspective["Cross-Sectional"]}}%)</td><tr>
				<tr><td><input type="checkbox" name ="time_perspective" value="Longitudinal"> Longitudinal ({{distribution_time_perspective["Non-Longitudinal"]}}%)</td><tr>
				<tr><td><input type="checkbox" name ="time_perspective" value="Prospective"> Prospective ({{distribution_time_perspective["Prospective"]}}%)</td><tr>
				<tr><td><input type="checkbox" name ="time_perspective" value="Retrospective"> Retrospective ({{distribution_time_perspective["Retrospective"]}}%)</td><tr>
				<tr><td><input type="checkbox" name ="time_perspective" value="N/A">Not applicable or not specified ({{distribution_time_perspective["N/A"]}}%) </td><tr>
			</table>

			<!--
			<table class="CSSTableGenerator" style="float: left">
				<tr><td>Study design - masking:</td><tr>
				<tr><td><input type="checkbox" name ="masking" value="Single Blind"> Single Blind</td><tr>
				<tr><td><input type="checkbox" name ="masking" value="Double Blind"> Double Blind </td><tr>
				<tr><td><input type="checkbox" name ="masking" value="N/A" >Not specified</td><tr>
			</table>
			-->
			
			<table class="CSSTableGenerator">
				<tr>
					<td>
						Distributional analysis type:
					</td>
				<tr>
				<tr>
					<td>
						<SELECT id="aggregate_analysis_type" name="aggregate_analysis_type">
							<option disabled="disabled" value = 'Distribution of trials' {% if aggregate_analysis_type == 'Distribution of trials': %}selected{% endif %}>Distribution of number of studies </option>
							<option disabled="disabled" value = 'Aggregated enrollment' {% if aggregate_analysis_type == 'Aggregated enrollment': %}selected{% endif %}>Distribution of enrollment</option>
							<option value = 'Distribution of boundary values' {% if aggregate_analysis_type == 'Distribution of boundary values': %}selected{% endif %}>Other distributions</option>
							<!--
							<option value = 'All' {% if aggregate_analysis_type == 'All': %}selected{% endif %}>All</option>
							 -->
						</SELECT>
					</td>
				<tr>
			</table>

			<br><br>
				
			<button type="submit" name="button2" style="height: 30px; width: 150px;" onclick="if (check_range()){show_loading();}else return false;"><font size = 2> Process </font></button>
				
			<input type="text" id="hidden_options" name="hidden_options" style="display:none;">
		</FORM>

	{% endif %}
</div>


<BR>

<BR>

<!--
<div id="result">
	{% if num_of_trials_output %}
	<script type="text/javascript">
		//document.getElementById("loading").style.display = "none";
		</script>
	{{num_of_trials_output|safe}}
	{% endif %}
</div>
-->

<!--<div id="loading">Processing ...</div>-->


{%endblock%}
